name: Setup Infrastructure Environment

on:
  workflow_dispatch:

jobs:
  setup-environment:
    runs-on: self-hosted

    steps:
      - name: Update apt cache
        run: sudo apt-get update

      - name: Install htop
        run: sudo apt-get install -y htop

      - name: Check if Docker is installed
        run: |
          if command -v docker >/dev/null 2>&1; then
            echo "docker_installed=true" >> $GITHUB_ENV
          else
            echo "docker_installed=false" >> $GITHUB_ENV
          fi

      - name: Install Docker (only if not installed)
        if: env.docker_installed == 'false'
        run: sudo apt-get install -y docker.io

      - name: Enable and start Docker (only if newly installed)
        if: env.docker_installed == 'false'
        run: |
          sudo systemctl enable docker
          sudo systemctl start docker

      - name: Verify Docker
        run: docker --version


  deploy-payment-approvel:
    runs-on: self-hosted
    needs: setup-environment

    steps:
      - name: Pull Docker image
        run: sudo docker pull g2support/paymentapprovel:latest

      - name: Stop and remove existing container (if any)
        run: |
          sudo docker stop payment-approvel || true
          sudo docker rm payment-approvel || true

      - name: Run Docker container
        run: |
          sudo docker run -d \
            --restart unless-stopped \
            -p 8080:80 \
            --name payment-approvel \
            g2support/paymentapprovel:latest
      - name: Verify running container
        run: sudo docker ps | grep payment-approvel
